@use "./mixins" as *;
@use "./typography" as*;

body {
  background-color: #111111;

  @include flexCenter;
  height: 80vh;
  width: 100vw;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-weight: 700;
  font-family: $font-primary;
}