@use "./variables"as *;
@use "./mixins" as *;

.periodic {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px 5px;
  grid-auto-flow: row;
  margin-top: 20vh;
  

  &__card {
    @include flexCenter;
    height: 60px;
    width: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    opacity: 0.5;
    
    &:hover{
      opacity: 1;
    }
  }



  &__card--blank {
    border: none;
  }
}



#h {
  grid-area: 1 / 1 / 2 / 2;
  background-color: $element-blue;
}

#li {
  grid-area: 2 / 1 / 3 / 2;
  background-color: $element-pink;
}

#na {
  grid-area: 3 / 1 / 4 / 2;
  background-color: $element-pink;
}

#k {
  grid-area: 4 / 1 / 5 / 2;
  background-color: $element-pink;
}

#rb {
  grid-area: 5 / 1 / 6 / 2;
  background-color: $element-pink;
}

#cs {
  grid-area: 6 / 1 / 7 / 2;
  background-color: $element-pink;
}

#fr {
  grid-area: 7 / 1 / 8 / 2;
  background-color: $element-pink;
}

#blank00 {
  grid-area: 8 / 1 / 9 / 2;
}

#blank01 {
  grid-area: 9 / 1 / 10 / 2;
}

#be {
  grid-area: 2 / 2 / 3 / 3;
  background-color: $element-green;
}

#mg {
  grid-area: 3 / 2 / 4 / 3;
  background-color: $element-green;
}

#ca {
  grid-area: 4 / 2 / 5 / 3;
  background-color: $element-green;
}

#sr {
  grid-area: 5 / 2 / 6 / 3;
  background-color: $element-green;
}

#ba {
  grid-area: 6 / 2 / 7 / 3;
  background-color: $element-green;
}

#ra {
  grid-area: 7 / 2 / 8 / 3;
  background-color: $element-green;
}

#blank02 {
  grid-area: 8 / 2 / 9 / 3;
}

#blank03 {
  grid-area: 9 / 2 / 10 / 3;
}

#sc {
  grid-area: 4 / 3 / 5 / 4;
  background-color: $element-light-blue;
}

#y {
  grid-area: 5 / 3 / 6 / 4;
  background-color: $element-light-blue;
}

#la {
  grid-area: 6 / 3 / 7 / 4;
  background-color: $element-lighter-blue;
}

#ac {
  grid-area: 7 / 3 / 8 / 4;
  background-color: $element-dark-green;
}

#blank04 {
  grid-area: 8 / 3 / 9 / 4;
}

#blank05 {
  grid-area: 9 / 3 / 10 / 4;
}

#ti {
  grid-area: 4 / 4 / 5 / 5;
  background-color: $element-light-blue;
}

#zr {
  grid-area: 5 / 4 / 6 / 5;
  background-color: $element-light-blue;
}

#hf {
  grid-area: 6 / 4 / 7 / 5;
  background-color: $element-light-blue;
}

#rf {
  grid-area: 7 / 4 / 8 / 5;
  background-color: $element-light-blue;
}

#ce {
  grid-area: 8 / 4 / 9 / 5;
  background-color: $element-lighter-blue;
}

#th {
  grid-area: 9 / 4 / 10 / 5;
  background-color: $element-dark-green;
}

#pa {
  grid-area: 9 / 5 / 10 / 6;
  background-color: $element-dark-green;
}

#u {
  grid-area: 9 / 6 / 10 / 7;
  background-color: $element-dark-green;
}

#np {
  grid-area: 9 / 7 / 10 / 8;
  background-color: $element-dark-green;
}

#up {
  grid-area: 9 / 8 / 10 / 9;
  background-color: $element-dark-green;
}

#am {
  grid-area: 9 / 9 / 10 / 10;
  background-color: $element-dark-green;
}

#cm {
  grid-area: 9 / 10 / 10 / 11;
  background-color: $element-dark-green;
}

#bk {
  grid-area: 9 / 11 / 10 / 12;
  background-color: $element-dark-green;
}

#cf {
  grid-area: 9 / 12 / 10 / 13;
  background-color: $element-dark-green;
}

#es {
  grid-area: 9 / 13 / 10 / 14;
  background-color: $element-dark-green;
}

#fm {
  grid-area: 9 / 14 / 10 / 15;
  background-color: $element-dark-green;
}

#md {
  grid-area: 9 / 15 / 10 / 16;
  background-color: $element-dark-green;
}

#no {
  grid-area: 9 / 16 / 10 / 17;
  background-color: $element-dark-green;
}

#lr {
  grid-area: 9 / 17 / 10 / 18;
  background-color: $element-dark-green;
}

#pr {
  grid-area: 8 / 5 / 9 / 6;
  background-color: $element-lighter-blue;
}

#nd {
  grid-area: 8 / 6 / 9 / 7;
  background-color: $element-lighter-blue;
}

#pm {
  grid-area: 8 / 7 / 9 / 8;
  background-color: $element-lighter-blue;
}

#sm {
  grid-area: 8 / 8 / 9 / 9;
  background-color: $element-lighter-blue;
}

#eu {
  grid-area: 8 / 9 / 9 / 10;
  background-color: $element-lighter-blue;
}

#gd {
  grid-area: 8 / 10 / 9 / 11;
  background-color: $element-lighter-blue;
}

#td {
  grid-area: 8 / 11 / 9 / 12;
  background-color: $element-lighter-blue;
}

#dy {
  grid-area: 8 / 12 / 9 / 13;
  background-color: $element-lighter-blue;
}

#ho {
  grid-area: 8 / 13 / 9 / 14;
  background-color: $element-lighter-blue;
}

#er {
  grid-area: 8 / 14 / 9 / 15;
  background-color: $element-lighter-blue;
}

#tm {
  grid-area: 8 / 15 / 9 / 16;
  background-color: $element-lighter-blue;
}

#yb {
  grid-area: 8 / 16 / 9 / 17;
  background-color: $element-lighter-blue;
}

#lu {
  grid-area: 8 / 17 / 9 / 18;
  background-color: $element-lighter-blue;
}

#db {
  grid-area: 7 / 5 / 8 / 6;
  background-color: $element-light-blue;
}

#sg {
  grid-area: 7 / 6 / 8 / 7;
  background-color: $element-light-blue;
}

#bh {
  grid-area: 7 / 7 / 8 / 8;
  background-color: $element-light-blue;
}

#hs {
  grid-area: 7 / 8 / 8 / 9;
  background-color: $element-light-blue;
}

#mt {
  grid-area: 7 / 9 / 8 / 10;
  background-color: $element-light-brown;
}

#ds {
  grid-area: 7 / 10 / 8 / 11;
  background-color: $element-light-brown;
}

#rg {
  grid-area: 7 / 11 / 8 / 12;
  background-color: $element-light-brown;
}

#cn {
  grid-area: 7 / 12 / 8 / 13;
  background-color: $element-light-blue;
}

#cn-two {
  grid-area: 7 / 13 / 8 / 14;
  background-color: $element-light-brown;
}

#fl {
  grid-area: 7 / 14 / 8 / 15;
  background-color: $element-light-brown;
}

#mc {
  grid-area: 7 / 15 / 8 / 16;
  background-color: $element-light-brown;
}

#lv {
  grid-area: 7 / 16 / 8 / 17;
  background-color: $element-light-brown;
}

#ts {
  grid-area: 7 / 17 / 8 / 18;
  background-color: $element-light-brown;
}

#og {
  grid-area: 7 / 18 / 8 / 19;
  background-color: $element-light-brown;
}

#ta {
  grid-area: 6 / 5 / 7 / 6;
  background-color: $element-light-blue;
}

#w {
  grid-area: 6 / 6 / 7 / 7;
  background-color: $element-light-blue;
}

#re {
  grid-area: 6 / 7 / 7 / 8;
  background-color: $element-light-blue;
}

#os {
  grid-area: 6 / 8 / 7 / 9;
  background-color: $element-light-blue;
}

#ir {
  grid-area: 6 / 9 / 7 / 10;
  background-color: $element-light-blue;
}

#pt {
  grid-area: 6 / 10 / 7 / 11;
  background-color: $element-light-blue;
}

#au {
  grid-area: 6 / 11 / 7 / 12;
  background-color: $element-light-blue;
}

#hg {
  grid-area: 6 / 12 / 7 / 13;
  background-color: $element-light-blue;
}

#tl {
  grid-area: 6 / 13 / 7 / 14;
  background-color: $element-light-blue;
}

#pb {
  grid-area: 6 / 14 / 7 / 15;
  background-color: $element-light-blue;
}

#bi {
  grid-area: 6 / 15 / 7 / 16;
  background-color: $element-light-blue;
}

#po {
  grid-area: 6 / 16 / 7 / 17;
  background-color: $element-light-blue;
}

#at {
  grid-area: 6 / 17 / 7 / 18;
  background-color: $element-turquoise;
}

#rn {
  grid-area: 6 / 18 / 7 / 19;
  background-color: $element-yellow;
}

#nb {
  grid-area: 5 / 5 / 6 / 6;
  background-color: $element-light-blue;
}

#mo {
  grid-area: 5 / 6 / 6 / 7;
  background-color: $element-light-blue;
}

#tc {
  grid-area: 5 / 7 / 6 / 8;
  background-color: $element-light-blue;
}

#ru {
  grid-area: 5 / 8 / 6 / 9;
  background-color: $element-light-blue;
}

#ro {
  grid-area: 5 / 9 / 6 / 10;
  background-color: $element-light-blue;
}

#pd {
  grid-area: 5 / 10 / 6 / 11;
  background-color: $element-light-blue;
}

#ag {
  grid-area: 5 / 11 / 6 / 12;
  background-color: $element-light-blue;
}

#cd {
  grid-area: 5 / 12 / 6 / 13;
  background-color: $element-light-blue;
}

#in {
  grid-area: 5 / 13 / 6 / 14;
  background-color: $element-light-blue;
}

#sn {
  grid-area: 5 / 14 / 6 / 15;
  background-color: $element-light-blue;
}

#sb {
  grid-area: 5 / 15 / 6 / 16;
  background-color: $element-turquoise;
}

#te {
  grid-area: 5 / 16 / 6 / 17;
  background-color: $element-turquoise;
}

#i {
  grid-area: 5 / 17 / 6 / 18;
  background-color: $element-peach;
}

#xe {
  grid-area: 5 / 18 / 6 / 19;
  background-color: $element-yellow;
}

#ti-second {
  grid-area: 4 / 5 / 5 / 6;
  background-color: $element-light-blue;
}

#cr {
  grid-area: 4 / 6 / 5 / 7;
  background-color: $element-light-blue;
}

#mn {
  grid-area: 4 / 7 / 5 / 8;
  background-color: $element-light-blue;
}

#fe {
  grid-area: 4 / 8 / 5 / 9;
  background-color: $element-light-blue;
}

#co {
  grid-area: 4 / 9 / 5 / 10;
  background-color: $element-light-blue;
}

#ni {
  grid-area: 4 / 10 / 5 / 11;
  background-color: $element-light-blue;
}

#cu {
  grid-area: 4 / 11 / 5 / 12;
  background-color: $element-light-blue;
}

#zn {
  grid-area: 4 / 12 / 5 / 13;
  background-color: $element-light-blue;
}

#ga {
  grid-area: 4 / 13 / 5 / 14;
  background-color: $element-light-blue;
}

#ge {
  grid-area: 4 / 14 / 5 / 15;
  background-color: $element-turquoise;
}

#as {
  grid-area: 4 / 15 / 5 / 16;
  background-color: $element-turquoise;
}

#se {
  grid-area: 4 / 16 / 5 / 17;
  background-color: $element-red;
}

#br {
  grid-area: 4 / 17 / 5 / 18;
  background-color: $element-peach;
}

#kr {
  grid-area: 4 / 18 / 5 / 19;
  background-color: $element-yellow;
}

#ar {
  grid-area: 3 / 18 / 4 / 19;
  background-color: $element-yellow;
}

#ne {
  grid-area: 2 / 18 / 3 / 19;
  background-color: $element-yellow;
}

#he {
  grid-area: 1 / 18 / 2 / 19;
  background-color: $element-yellow;
}

#blank06 {
  grid-area: 3 / 3 / 4 / 13;
}

#ai {
  grid-area: 3 / 13 / 4 / 14;
  background-color: $element-light-blue;
}

#si {
  grid-area: 3 / 14 / 4 / 15;
  background-color: $element-turquoise;
}

#p {
  grid-area: 3 / 15 / 4 / 16;
  background-color: $element-red;
  
}

#s {
  grid-area: 3 / 16 / 4 / 17;
  background-color: $element-red;
}

#cl {
  grid-area: 3 / 17 / 4 / 18;
  background-color: $element-peach;
}

#b {
  grid-area: 2 / 13 / 3 / 14;
  background-color: $element-turquoise;
}

#c {
  grid-area: 2 / 14 / 3 / 15;
  background-color: $element-red;
}

#n {
  grid-area: 2 / 15 / 3 / 16;
  background-color: $element-peach;
}

#o {
  grid-area: 2 / 16 / 3 / 17;
  background-color: $element-peach;
}

#f {
  grid-area: 2 / 17 / 3 / 18;
  background-color: $element-peach;
}

#blank07 {
  grid-area: 2 / 3 / 3 / 13;
}

#blank08 {
  grid-area: 1 / 2 / 2 / 18;
}