$element-blue: #A2C7D2;
$element-pink: #EBC2DA;
$element-green: #C0EBC1;
$element-light-blue: #5AC3EA;
$element-light-brown: #B9BABC;
$element-yellow:#EADB23;
$element-lighter-blue:#C0EBEC;
$element-dark-green:#A1D34B;
$element-turquoise:#4BD27D;
$element-red:#D24B50;
$element-peach:#EBB37E;
